import sys
sys.path.append("../..")

import os
import time
import json

from algos import OptAlg

from models import {{model}}

data_folder = '../../../data/'

if __name__ == "__main__":

    if not os.path.exists('./results'):
        os.makedirs('./results')

    print("Train {{name}} with {{type}} and {{direction}}")

    model = {{model}}(data_folder{{additions}})

    ioa = OptAlg(alg_type='{{type}}', direction='{{direction}}')

    res = {'time': [], 'LL': [], 'epochs': []}

    for i in range({{repetitions}}):

        tmp = model.optimize(ioa, **{'verbose': False, 'max_epochs': 1000, 'batch': {{batch}}})

        res['time'].append(tmp['opti_time'])
        res['LL'].append(tmp['fun'])
        res['epochs'].append(tmp['nep'])

        with open('results/{{filename}}.json', 'w') as outfile:
            json.dump(res, outfile)

        print("{}/{{repetitions}} done!".format(i+1))
