#!/bin/bash -l
#SBATCH --chdir /home/glederre/DCM_Opti/code/server/{{name}}
#SBATCH --nodes 1
#SBATCH --ntasks 1
#SBATCH --cpus-per-task 24
#SBATCH --mem 192000
#SBATCH --time {{time}}:00:00

source ~/bioenv/bin/activate
echo Starting optimization of {{name}} with {{algo_name}} at `date`
srun python -u {{filename}}.py
echo Finished at `date`

